<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>
      <add key="BaseUrl" value="https://api.myjson.com"/>

      <add key="HotelEndPoint" value="/bins/tl0bp"/>
    </appSettings>

    <connectionStrings>

    </connectionStrings>
</configuration>
